{%extends 'base.html'%}
{%block title %} About {%endblock title%}

{% block content%}


<div class="col-sm-10">
    <div class="container">
        <h3 class="text-white my-3">Welcome!</h3>

        <p>Mujhub is a blogging site developed to help freshers and 2nd yearites of Manipal University Jaipur by
            inviting
            seniors and college alumni to share their valuable experiences and provide guidance to budding engineers of
            our
            college. You can share about your college journey, strategies to apply for internships, a roadmap for
            placement,
            higher education opportunities, corporate lifestyle, tips for cracking tech interviews, or just a simple
            motivating post.
             </p>
        <p>To make a post you have to first register yourself by providing basic info about yourself and setting a
            strong
            password. Once you have registered successfully, you can login into your account, as an
            <strong>'Author'</strong> and can
            make a
            post under <strong>'Add Post'</strong> in the <strong>'Dashboard'</strong>. In the dashboard you can view your
            all posts and can edit them
            whenever
            you want (updated posts shall be displayed on the home page). You can also view your profile in the
            dashboard
            itself. Don't forget to logout while leaving. </p>

        <h5>Begin your journey</h5>
        <a href='/register' class='btn btn-primary'>Sign up</a>
    </div>
</div>

{% endblock content%}